name: "Bump Version"
# include major/minor/patch in commit message

on:
  push:
    branches:
      - "release/**"

jobs:
  bump-version:
    name: "Bump Version on release branch"
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: "Checkout source code"
        uses: "actions/checkout@v6"
        with:
          ref: ${{ github.ref }}
      - name: "✏️ Generate release changelog"
        uses: janheinrichmerker/action-github-changelog-generator@v2.4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: dermatologist
          maxIssues: 15
          httpCache: true
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          add: '*.md'
      - name:  'Automated Version Bump'
        uses:  'dermatologist/gh-action-bump-version@develop'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          minor-wording:  'add,Adds,new,feat,feature,Feature,update,Update,improve,Improve,fix,Fix,fixes'
          major-wording:  'MAJOR,cut-major,major,breaking'
          patch-wording:  'patch,chore,refactor,docs'     # Providing patch-wording will override commits
                                            # defaulting to a patch bump.
          rc-wording:     'RELEASE,alpha'
          skip-tag:       'true' # Tag creation is handled in another workflow