name: CI

on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Begin CI...
        uses: actions/checkout@v5

      - name: Use Node 18
        uses: actions/setup-node@v5.0.0
        with:
          node-version: 18.x

      - name: Use cached node_modules
        uses: actions/cache@v4.2.4
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/package-lock.lock') }}
          restore-keys: |
            nodeModules-

      - name: Install dependencies
        run: npm install
        env:
          CI: true

      - name: Test
        run: npm test
        env:
          CI: true

      - name: Build
        run: npm run build
        env:
          CI: true
